{% extends "_base.html" %}

{% load compress %}
{% load static %}

{% block content %}
    <div class="w-full h-20 flex flex-row items-center border-b-1 border-white/20 font-font-1">
        <img class="ml-8 w-12 h-12 transition duration-75" src="{% static 'images/navbar-icon.svg' %}" alt="pic">
        <span class="ml-3 font-font-1 text-white/40" >Kolonia marsjańska  &nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;</span>
        <span class="ml-3 font-font-1 text-white" >Dashboard</span>
    </div>
    <h1>This is dummy dashboard page</h1>
{% endblock content %}
