{% extends "_base.html" %}

{% load compress %}
{% load static %}

{% block content %}
    <div class="w-full h-20 flex flex-row items-center border-b-1 border-white/20 font-font-1">
        <img class="ml-8 w-12 h-12 transition duration-75" src="{% static 'images/navbar-icon.svg' %}" alt="pic">
        <span class="ml-3 font-font-1 text-white/40" >Kolonia marsjańska  &nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;</span>
        <span class="ml-3 font-font-1 text-white" >Dodawania doświadczenia zawodowego dla kolonizatora</span>
    </div>
    <div class="p-10 font-font-1 w-full flex pl-28">
        <div class="w-1/2">
            <div class="mb-6">
              <label for="email" class="block mb-2 text-lg font-semibold text-white/40">Kolonizator</label>
              <select id="id_osoby" type="text" class="bg-white/10 border border-white/10 text-white text-sm rounded-lg focus:ring-blue-500/30 focus:border-blue-500/50 block w-full p-2.5" required>
                {% for k in Kolonizatorzy %}
                <option class="bg-main-dark text-white" value="{{k.id_osoby}}">{{k.id_osoby}} - {{k.imie}} {{k.nazwisko}}</option>
                {% endfor %}
              </select>
            </div>
            <div class="mb-6">
                <label for="email" class="block mb-2 text-lg font-semibold text-white/40">Specjalizacja</label>
                <select id="nazwa" type="text" class="bg-white/10 border border-white/10 text-white text-sm rounded-lg focus:ring-blue-500/30 focus:border-blue-500/50 block w-full p-2.5" required>
                    {% for s in Specjalizacje %}
                    <option class="bg-main-dark text-white" value="{{s.nazwa}}">{{s.nazwa}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-6">
                <label for="email" class="block mb-2 text-lg font-semibold text-white/40">Liczba lat</label>
                <input id="liczba_lat" type="number" class="bg-white/10 border border-white/10 text-white text-sm rounded-lg focus:ring-blue-500/30 focus:border-blue-500/50 block w-full p-2.5" required>
            </div>
            <div class="flex flex-row justify-between w-1/4">
                <button id="submitbutton" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-1 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center">Dodaj</button>
                <button onclick="window.location=document.referrer" class="ml-4 text-white bg-red-700 hover:bg-red-800 focus:ring-1 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center">Anuluj</button>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script type="text/javascript"> window.CSRF_TOKEN = "{{ csrf_token }}"; </script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type="text/javascript">
    $('#submitbutton').click(function(){
        let id_osoby = document.getElementById("id_osoby").value;
        let nazwa = document.getElementById("nazwa").value;
        let liczba_lat = document.getElementById("liczba_lat").value;
        let empty = false;
        if (id_osoby == "" || liczba_lat == "" || nazwa == "") {
            Swal.fire('Uzupełnij wszystkie pola formularza', '', 'info')
            empty = true;
        }
        if (!empty) {
            let valid = true;
            valid = checkNumber(liczba_lat, "liczba lat", 1, 999);
            if (valid) {
                $.ajax(
                {
                type:"POST",
                url: "",
                data:{
                    csrfmiddlewaretoken: window.CSRF_TOKEN,
                    nazwa: nazwa,
                    id_osoby: id_osoby,
                    liczba_lat: liczba_lat,
                },
                success: function() {
                    Swal.fire({
                        title: 'Sukces!',
                        text: 'Ustawiono doświadczenie dla pracownika',
                        icon: 'success',
                        confirmButtonColor: '#3EB489',
                        confirmButtonText: 'Kontynuuj'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            location.reload();
                        }
                    });
                },
                error: function () {
                    Swal.fire('Podany kolonizator ma już przypisany staż w tej specjalizacji', '', 'error')
                }
                })
            }
        }
    });
    </script>
{% endblock content %}