{% extends "_base.html" %}

{% load compress %}
{% load static %}

{% block content %}
    <div class="w-full h-20 flex flex-row items-center border-b-1 border-white/20 font-font-1">
        <img class="ml-8 w-12 h-12 transition duration-75" src="{% static 'images/navbar-icon.svg' %}" alt="pic">
        <span class="ml-3 font-font-1 text-white/40" >Kolonia marsjańska  &nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;</span>
        <span class="ml-3 font-font-1 text-white" >Edytowanie kolonizatora</span>
    </div>
    <div class="p-10 font-font-1 w-full flex pl-28">
        <div class="w-1/2">
            <div id="form-box">
                <div class="mb-6">
                <label for="email" class="block mb-2 text-lg font-semibold text-white/40">Imie <span class="font-thin">(max 32 znaki)</span></label>
                <input id="imie" value="{{Kolonizator.imie}}" type="text" class="bg-white/10 border border-white/10 text-white text-sm rounded-lg focus:ring-blue-500/30 focus:border-blue-500/50 block w-full p-2.5" required>
                </div>
                <div class="mb-6">
                    <label for="password" class="block mb-2 text-lg font-semibold text-white/40">Nazwisko <span class="font-thin">(max 32 znaki)</span></label>
                    <input id="nazwisko" value="{{Kolonizator.nazwisko}}" type="text" class="bg-white/10 border border-white/10 text-white text-sm rounded-lg focus:ring-blue-500/30 focus:border-blue-500/50 block w-full p-2.5" required>
                </div>
                <div class="mb-6">
                    <label for="password" class="block mb-2 text-lg font-semibold text-white/40">Wiek</label>
                    <input id="wiek" value="{{Kolonizator.wiek}}" type="number"  class="bg-white/10 border border-white/10 text-white text-sm rounded-lg focus:ring-blue-500/30 focus:border-blue-500/50 block w-full p-2.5 "></input>
                </div>
                <input type="hidden" value="{{Kolonizator.id_osoby}}" id="id">
                <div class="mb-6">
                    <label for="password" class="block mb-2 text-lg font-semibold text-white/40">Typ</label>
                    <select id="typ" type="text" class="bg-white/10 border border-white/10 text-white text-sm rounded-lg focus:ring-blue-500/30 focus:border-blue-500/50 block w-full p-2.5" required>
                        <option value="Badawczy" class="bg-main-dark text-white" {% if Kolonizator.typ == "Badawczy" %}selected{% endif %}>Badawczy</option>
                        <option value="Zwykły" class="bg-main-dark text-white" {% if Kolonizator.typ == "Zwykły" %}selected{% endif %}>Zwykły</option>
                    </select>
                </div>
            </div>
            <div class="flex flex-row justify-between w-1/4">
                <button id="submitbutton" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-1 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center" disabled>Zapisz</button>
                <button onclick="window.location=document.referrer" class="ml-4 text-white bg-red-700 hover:bg-red-800 focus:ring-1 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center">Anuluj</button>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script type="text/javascript"> window.CSRF_TOKEN = "{{ csrf_token }}"; </script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type="text/javascript">
    document.getElementById('form-box').addEventListener('change', function(event){
        document.getElementById('submitbutton').disabled = false;
    });
    $('#submitbutton').click(function(){
        let imie = document.getElementById("imie").value;
        let nazwisko = document.getElementById("nazwisko").value;
        let wiek = document.getElementById("wiek").value;
        let typ = document.getElementById("typ").value;
        let id = document.getElementById("id").value;
        let empty = false;
        if (imie == "" || nazwisko == "" || wiek == "" || typ == "") {
            Swal.fire('Uzupełnij wszystkie pola formularza', '', 'info')
            empty = true;
        } else {
            imie = capitalize(imie)
            nazwisko = capitalize(nazwisko)
        }
        if (!empty) {
            let valid = true;
            valid = checkNumber(wiek, "wiek", 1, 999)
            if (valid) {
                $.ajax(
                {
                type:"POST",
                url: "",
                data:{
                    csrfmiddlewaretoken: window.CSRF_TOKEN,
                    imie: imie,
                    nazwisko: nazwisko,
                    wiek: wiek,
                    typ: typ,
                    id: id
                },
                success: function() {
                    Swal.fire({
                        title: 'Sukces!',
                        text: 'Kolonizator został zedytowany',
                        icon: 'success',
                        confirmButtonColor: '#3EB489',
                        confirmButtonText: 'Kontynuuj'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            window.location=document.referrer;
                        }
                    });
                },
                error: function () {
                    Swal.fire('Wystąpił błąd w trakcie edycji kolonizatora.', '', 'error')
                }
                })
            }
        }
    });
    </script>
{% endblock content %}