{% extends "_base.html" %}

{% load compress %}
{% load static %}

{% block content %}
    <div class="w-full h-20 flex flex-row items-center border-b-1 border-white/20 font-font-1">
        <img class="ml-8 w-12 h-12 transition duration-75" src="{% static 'images/navbar-icon.svg' %}" alt="pic">
        <span class="ml-3 font-font-1 text-white/40" >Kolonia marsjańska  &nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;</span>
        <span class="ml-3 font-font-1 text-white" >Zasoby</span>
    </div>
    <div class="p-10 font-font-1"> 
        <form method="get">
        <div class="bg-white/5 mb-4 px-2 py-3 flex flex-row rounded-md justify-between">
                <div class="flex flex-row items-center">
                    <a href="{{ request.path }}/new"><img class="mx-4 w-6 h-6 transition duration-75" src="{% static 'images/add.svg' %}" alt="pic"></a>
                    <a href="#"><img class="mx-4 w-6 h-6 transition duration-75" src="{% static 'images/sort.svg' %}" alt="pic"></a>
                </div>
                <div class="w-1/4">
                    <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only">Search</label>
                    <div class="relative">
                        <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                            <svg aria-hidden="true" class="w-5 h-5 text-gray-500" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg>
                        </div>
                        <input type="search" name="search" id="default-search" class="block w-full p-4 pl-10 text-sm text-white border border-gray-300 rounded-lg bg-black/5" placeholder="Wyszukaj">
                        <button type="submit" class="text-white absolute right-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:outline-none font-medium rounded-lg text-sm px-4 py-2">Szukaj</button>
                    </div>
                </div>
        </div>
        </form>
        <div class="relative overflow-x-auto">
            <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                <colgroup>
                    <col span="1" style="width: 80%;">
                    <col span="1" style="width: 20%;">
                 </colgroup>
                <thead class="text-xs text-white/40 uppercase bg-main-dark border-b border-white/20">
                    <tr>
                        <th scope="col" class="px-6 py-3">
                            Nazwa
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Akcje
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for z in Zasoby %}
                    <tr class="bg-main-dark border-b border-white/20 text-white">
                        <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                            {{z.nazwa}}
                        </th>
                        <td class="px-6 py-4">
                            <a href="{{request.path}}/{{z.nazwa}}">
                                <button type="button" class="text-yellow-400 hover:text-white border border-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:outline-none focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:border-yellow-300 dark:text-yellow-300 dark:hover:text-white dark:hover:bg-yellow-400 dark:focus:ring-yellow-900">Edytuj</button>
                            </a>
                            <button type="button" value="{{z.nazwa}}" class="deletebutton text-red-700 hover:text-white border border-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:border-red-500 dark:text-red-500 dark:hover:text-white dark:hover:bg-red-600 dark:focus:ring-red-900">Usuń</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script type="text/javascript"> window.CSRF_TOKEN = "{{ csrf_token }}"; </script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type="text/javascript">
    $('.deletebutton').click(function(){
        let id = this.value;
        Swal.fire({
            title: 'Jesteś pewny?',
            color: 'black',
            text: 'Czy na pewno chcesz usunąć ten zasób?',
            icon: 'question',
            showDenyButton: true,
            confirmButtonText: 'Usuń',
            confirmButtonColor: '#3EB489',
            denyButtonText: 'Anuluj',
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax(
                {
                type:"POST",
                url: "",
                data:{
                    csrfmiddlewaretoken: window.CSRF_TOKEN,
                    id: id,
                },
                success: function() {
                    location.reload();
                }
            })
            } else if (result.isDenied) {
                location.reload();
            }
        })
    });
    </script>
{% endblock content %}