{% extends "_base.html" %}

{% load compress %}
{% load static %}

{% block content %}
    <div class="w-full h-20 flex flex-row items-center border-b-1 border-white/20 font-font-1">
        <img class="ml-8 w-12 h-12 transition duration-75" src="{% static 'images/navbar-icon.svg' %}" alt="pic">
        <span class="ml-3 font-font-1 text-white/40" >Kolonia marsjańska  &nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;</span>
        <span class="ml-3 font-font-1 text-white" >Dodawanie zasobu do pomieszczenia</span>
    </div>
    <div class="p-10 font-font-1 w-full flex pl-28">
        <div class="w-1/2">
            <div class="mb-6">
              <label for="email" class="block mb-2 text-lg font-semibold text-white/40">Zasób</label>
              <select id="nazwa" type="text" class="bg-white/10 border border-white/10 text-white text-sm rounded-lg focus:ring-blue-500/30 focus:border-blue-500/50 block w-full p-2.5" required>
                {% for z in Zasoby %}
                <option class="bg-main-dark text-white" value="{{z.nazwa}}">{{z.nazwa}}</option>
                {% endfor %}
              </select>
            </div>
            <div class="mb-6">
                <label for="email" class="block mb-2 text-lg font-semibold text-white/40">Numer pomieszczenia</label>
                <select id="nr_pomieszczenia" type="text" class="bg-white/10 border border-white/10 text-white text-sm rounded-lg focus:ring-blue-500/30 focus:border-blue-500/50 block w-full p-2.5" required>
                    {% for p in Pomieszczenia %}
                    <option class="bg-main-dark text-white" value="{{p.nr_pomieszczenia}}">{{p.nr_pomieszczenia}} - {{p.nazwa}}</option>
                    {% endfor %}
                  </select>
            </div>
            <div class="mb-6">
                <label for="email" class="block mb-2 text-lg font-semibold text-white/40">Liczba <span class="font-thin">(od 0.01 do 9999.99)</span></label>
                <input id="liczba" type="number" class="bg-white/10 border border-white/10 text-white text-sm rounded-lg focus:ring-blue-500/30 focus:border-blue-500/50 block w-full p-2.5" required>
            </div>
            <div class="mb-6">
                <label for="email" class="block mb-2 text-lg font-semibold text-white/40">Jednostka <span class="font-thin">(max 32 znaki)</span></label>
                <input id="jednostka" type="text" class="bg-white/10 border border-white/10 text-white text-sm rounded-lg focus:ring-blue-500/30 focus:border-blue-500/50 block w-full p-2.5" required>
            </div>
            <div class="flex flex-row justify-between w-1/4">
                <button id="submitbutton" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-1 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center">Dodaj</button>
                <button onclick="window.location=document.referrer" class="ml-4 text-white bg-red-700 hover:bg-red-800 focus:ring-1 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center">Anuluj</button>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script type="text/javascript"> window.CSRF_TOKEN = "{{ csrf_token }}"; </script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type="text/javascript">
    $('#submitbutton').click(function(){
        let nazwa = document.getElementById("nazwa").value;
        let nr_pomieszczenia = document.getElementById("nr_pomieszczenia").value;
        let jednostka = document.getElementById("jednostka").value;
        let liczba = document.getElementById("liczba").value;
        let empty = false;
        if (nazwa == "" || nr_pomieszczenia == "" || jednostka == "" || liczba == "") {
            Swal.fire('Uzupełnij wszystkie pola formularza', '', 'info')
            empty = true;
        } else {
            jednostka = capitalize(jednostka);
        }
        if (!empty) {
            let valid = true;
            valid = checkFloatNumber(liczba, "liczba", 0.01, 9999.99);
            if (valid) {
                $.ajax(
                {
                type:"POST",
                url: "",
                data:{
                    csrfmiddlewaretoken: window.CSRF_TOKEN,
                    nazwa: nazwa,
                    nr_pomieszczenia: nr_pomieszczenia,
                    liczba: liczba,
                    jednostka: jednostka
                },
                success: function() {
                    Swal.fire({
                        title: 'Sukces!',
                        text: 'Dodano nowy zasób',
                        icon: 'success',
                        confirmButtonColor: '#3EB489',
                        confirmButtonText: 'Kontynuuj'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            window.location=document.referrer;
                        }
                    });
                },
                error: function () {
                    Swal.fire('Podany zasób już istnieje w tym pomieszczeniu', '', 'error')
                }
                })
            }
        }
    });
    </script>
{% endblock content %}