{% extends "_base.html" %}

{% load compress %}
{% load static %}

{% block content %}
    <div class="w-full h-20 flex flex-row items-center border-b-1 border-white/20 font-font-1">
        <img class="ml-8 w-12 h-12 transition duration-75" src="{% static 'images/navbar-icon.svg' %}" alt="pic">
        <span class="ml-3 font-font-1 text-white/40" >Kolonia marsjańska  &nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;</span>
        <span class="ml-3 font-font-1 text-white" >Edytowanie systemu</span>
    </div>
    
    <div class="p-10 font-font-1 w-full flex pl-28">
        <div class="w-1/2">
            <div id="form-box">
                <div class="mb-6">
                <label for="email" class="block mb-2 text-lg font-semibold text-white/40">Nazwa <span class="font-thin">(max 32 znaki)</span></label>
                <input id="nazwa" type="text" value="{{System.nazwa}}" class="bg-white/10 border border-white/10 text-white text-sm rounded-lg focus:ring-blue-500/30 focus:border-blue-500/50 block w-full p-2.5" required>
                </div>
                <div class="mb-6">
                <label for="password" class="block mb-2 text-lg font-semibold text-white/40">Opis <span class="font-thin">(max 256 znaków)</span></label>
                <textarea id="opis" cols="30" rows="8" class="bg-white/10 border border-white/10 text-white text-sm rounded-lg focus:ring-blue-500/30 focus:border-blue-500/50 block w-full p-2.5 ">{{System.opis}}</textarea>
                </div>
                <input id="nr_pomieszczenia" type="hidden" value="{{System.id_systemu}}">
            </div>
            <div class="flex flex-row justify-between w-1/4">
                <button id="submitbutton" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-1 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center" disabled>Zapisz</button>
                <button onclick="window.location=document.referrer" class="ml-4 text-white bg-red-700 hover:bg-red-800 focus:ring-1 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center">Anuluj</button>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script type="text/javascript"> window.CSRF_TOKEN = "{{ csrf_token }}"; </script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type="text/javascript">
    document.getElementById('form-box').addEventListener('change', function(event){
        document.getElementById('submitbutton').disabled = false;
    });
    $('#submitbutton').click(function(){
        let nazwa = document.getElementById("nazwa").value;
        let opis = document.getElementById("opis").value;
        let empty = false;
        if (nazwa == "", opis == "") {
            Swal.fire('Uzupełnij wszystkie pola formularza', '', 'info')
            empty = true;
        } else {
            nazwa = capitalize(nazwa);
        }
        if (!empty) {
            let valid = true;
            if (valid) {
                $.ajax(
                {
                type:"POST",
                url: "",
                data:{
                    csrfmiddlewaretoken: window.CSRF_TOKEN,
                    nazwa: nazwa,
                    opis: opis,

                },
                success: function() {
                Swal.fire({
                    title: 'Sukces!',
                    text: 'System został zedytowany.',
                    icon: 'success',
                    confirmButtonColor: '#3EB489',
                    confirmButtonText: 'Kontynuuj'
                }).then((result) => {
                    if (result.isConfirmed) {
                        window.location=document.referrer;
                    }
                });
                },
                error: function () {
                    Swal.fire('Wystąpił błąd w trakcie edycji systemu.', '', 'error')
                }
                }) 
            }
        }
    });
    </script>
{% endblock content %}