{% extends "_base.html" %}

{% load compress %}
{% load static %}

{% block content %}
    <div class="w-full h-20 flex flex-row items-center border-b-1 border-white/20 font-font-1">
        <img class="ml-8 w-12 h-12 transition duration-75" src="{% static 'images/navbar-icon.svg' %}" alt="pic">
        <span class="ml-3 font-font-1 text-white/40" >Kolonia marsjańska  &nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;</span>
        <span class="ml-3 font-font-1 text-white" >Edytowanie przypisania badania do wydarzenia</span>
    </div>
    <div class="p-10 font-font-1 w-full flex pl-28">
        <div class="w-1/2">
            <div class="mb-6">
              <label for="email" class="block mb-2 text-lg font-semibold text-white/40">Zadanie</label>
              <select id="id_zad" type="text" class="bg-white/10 border border-white/10 text-white text-sm rounded-lg focus:ring-blue-500/30 focus:border-blue-500/50 block w-full p-2.5" required>
                {% for z in Zadania %}
                <option class="bg-main-dark text-white" value="{{z.id_zadania}}" {% if z.id_zadania == id_zadania %}selected{% endif %}>{{z.nazwa}}</option>
                {% endfor %}
              </select>
            </div>
            <div class="mb-6">
                <label for="email" class="block mb-2 text-lg font-semibold text-white/40">Wydarzenie</label>
                <select id="id_wyd" type="text" class="bg-white/10 border border-white/10 text-white text-sm rounded-lg focus:ring-blue-500/30 focus:border-blue-500/50 block w-full p-2.5" required>
                    {% for w in Wydarzenia %}
                    <option class="bg-main-dark text-white" value="{{w.id_wydarzenia}}" {% if w.id_wydarzenia == id_wydarzenia %}selected{% endif %}>{{w.nazwa}}</option>
                    {% endfor %}
                </select>
            </div>
            <button id="submitbutton" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center">Edytuj</button>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script type="text/javascript"> window.CSRF_TOKEN = "{{ csrf_token }}"; </script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type="text/javascript">
    $('#submitbutton').click(function(){
        let id_zad = document.getElementById("id_zad").value;
        let id_wyd = document.getElementById("id_wyd").value;

        let valid = true;
        $.ajax(
        {
        type:"POST",
        url: "",
        data:{
            csrfmiddlewaretoken: window.CSRF_TOKEN,
            id_zad: id_zad,
            id_wyd: id_wyd,
        },
        success: function() {
            Swal.fire({
                title: 'Sukces!',
                text: 'Zedytowano zadanie dla wydarzenia',
                icon: 'success',
                confirmButtonColor: '#3EB489',
                confirmButtonText: 'Kontynuuj'
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location=document.referrer;
                }                
            });
        },
        error: function () {
            Swal.fire('To zadanie jest już przypisane do tego wydarzenia', '', 'error')
        }
        })
    });
    </script>
{% endblock content %}